body{
  font-family: "Work Sans",sans-serif;
}
.about-text{
  font-family: "Work Sans",sans-serif;
}

:root {
  --primary: #ffc107;
  /*--primary: rgba(0, 29, 157, 0.8);*/
  --secondary: #757575;
  --light: #F3F6F8;
  --dark: #0C2B4B;
  --main-blu: #00176B;
  --main-blu-rgb: rgb(0, 23, 107);
  /*--bs-navbar-hover-color: rgba(255, 255, 255, 0.75);*/
  --bs-navbar-color: var(--bs-nav-link-color);
  /*--bs-nav-link-color:rgba(255, 255, 255, 0.55);*/
  --bs-nav-tabs-link-active-bg:black;
  --bs-navbar-active-color:black;
  --bs-modal-bg: yellow;
  --bs-modal-width:500px;
  --bs-body-bg: red;
  --bs-border-radius-lg: 0px!important;
  /*--bs-nav-tabs-border-width: 0px!important;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.bg-primary-yellow{
  background-color: var(--primary)!important;
  border-color: var(--primary)!important;

}

.main-blu{
  color: var(--main-blu-rgb);
}

.bg-{
  background-color: var(--main-blu-rgb);
}

.btn-main-blu {
  background-color: var(--main-blu-rgb) !important; /* Green */
  /*border: none;*/
  color: white!important;

  --bs-btn-color: #000;
  --bs-btn-bg: var(--main-blu-rgb)!important;
  --bs-btn-border-color: var(--main-blu-rgb)!important;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: var(--main-blu-rgb)!important;
  --bs-btn-hover-border-color: var(--main-blu-rgb)!important;
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: var(--main-blu-rgb)!important;
  --bs-btn-active-border-color: var(--main-blu-rgb)!important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: var(--main-blu-rgb)!important;
  --bs-btn-disabled-border-color: var(--main-blu-rgb)!important;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.primary{
  color: var(--primary);
}

.display-6{
  font-weight: 700;
}

.font-6{
  font-weight: 600;
}

.font-5{
  font-weight: 500;
}

.font-4{
  font-weight: 400;
}

.btn{
  border-radius: 40px;
}

.btn-square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.text-color-grey>p,li{
  /*.text-color-grey>p,li,label{*/
  color: #757575;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
