.content{
    margin: 20px auto;
    max-width: 1400px;
}

.table{
    width: 64%;
    margin:auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    white-space: nowrap;
}

.table th, .table td{
    text-align: center;
    width:200px;
    padding: 10px;
}

.table th{
    background-color: #ffffff;
    color: #ffc107;
}

.table th:nth-child(odd) {
    background: var(--main-blu);
    color:white;
}

.table tr:nth-child(even) {
    background: rgba(255, 255, 0, 0.127);;
}

.table tr{
    transition: all .3s;
}

.table tr:hover{
    background-color: #ccc;
}

.table td:not(:last-child){
    border-right: 1px solid #ccc;
}

.table-responsive{
    overflow-x: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
