.courses-list-nav{
    overflow-x: auto;

}

.card-img-top{
    max-width: 390px; object-fit: contain;
}

.productInstance{
    width: 18rem;
}

.photo-cont{
    height: 390px;
}

.catalog-sidebar{
    /* width: 200px; */
    max-width: 320px;
}