.courses-list-nav{
    overflow-x: auto;

}

.card-img-top{
    max-width: 390px; object-fit: contain;
}

.productInstance{
    width: 18rem;
}

.photo-cont{
    height: 390px;
}

.catalog-sidebar{
    /* width: 200px; */
    max-width: 320px;
}


.pagination-container ul {
    list-style-type: none !important;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    display: flex;
    flex-direction: row;
}

/*.py-2 {*/
/*    padding-top: .5rem !important;*/
/*    padding-bottom: .5rem !important;*/
/*}*/

.w-12 {
    width: 3rem;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.filterDays{
    height: 26px;
    width: 50px!important;
}

#pageSizeInput {
    padding: 6px;
    height: 42px;
    margin-top: -8px;
    text-align: center;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    /*width: 320px;*/
    background: #f1f1f1;
}

.filter-submit {
    background-color: transparent !important;
    color: var(--primary) !important;
    /*width: 33%!important;*/
    /*opacity: 0%;*/
    /*max-width: 200px;*/
}

.filter-submit:hover {
    background-color: var(--main-blu) !important;
    color: var(--light) !important;
    border-color: var(--main-blu)!important;
}