

.navbar-blu {
    --bs-bg-opacity: 1;
    background-color: var(--main-blu-rgb)!important;
}

.nav-link{
    font-size: 18px;
}

.collapsing{
    position: absolute;
    top: 100%;
    right: 0px;
    left: 0px;
    background: var(--main-blu-rgb)!important;
}

.loggin-btn{
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}


/*.show{*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    right: 0px;*/
/*    left: 0px;*/
/*    background: rgb(0, 23, 107) !important;*/
/*}*/

.logo-text{
    font-family: "Work Sans",sans-serif;
}

/*.logo-text:hover{*/
/*    color:  #ffc107*/
/*}*/

.btn-warning {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #ffc107;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #ffca2c;
    --bs-btn-hover-border-color: #ffc720;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
}

.btn-outline-warning {
    --bs-btn-color: #ffc107;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #ffc107;
    --bs-btn-hover-border-color: #ffc107;
    --bs-btn-focus-shadow-rgb: 255,193,7;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #ffc107;
    --bs-btn-active-border-color: #ffc107;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffc107;
    --bs-gradient: none;
}

/*.navbar .navbar-nav .nav-link {*/
/*    margin-right: 30px;*/
/*    padding: 25px 0;*/
/*    font-weight: 500;*/
/*    text-transform: uppercase;*/
/*    outline: none;*/
/*}*/

.brandname-first-e:hover{
    color:  var(--primary);
    /*color:  #ffc107*/
}




.button-40 {
    background-color: var(--primary);
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    /*font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/
    /*font-size: 1.125rem;*/
    /*font-weight: 600;*/
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.button-40:hover {
    /*background-color: #374151;*/
    opacity: 80%;
}

.button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button-login{
    background-color: var(--primary)!important;
    border: 1px solid transparent!important;
    border-radius: .60rem!important;
}

.button-login:hover{
    /*background-color: var(--primary)!important;*/
    /*border-radius: .75rem;*/
    /*opacity: 90%;*/
    filter: brightness(105%);
    border-radius: .75rem!important;
}

@media (min-width: 768px) {
    .button-40 {
        padding: .75rem 1.5rem;
    }
}